body, html {
    height: 100%;
}

#bodyHome {
    background: url("/static/images/Cahyo.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#bodyBlog{
    background: #ECF4BE;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#bodyExperiences{
    background: #FCE491;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#bodyAbout{
    background: #ECDAAC;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#bodyContact{
    background: #F5E0E0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#bodyGuest{
    background: aliceblue;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#navbar-header{
    background-color:transparent;
    font-size: 130%;
}

.nav-item{
    margin: 30px;
    font-family: "Quintessential";
    font-weight: bold;
}

.homewords {
    font-family: "Ribeye Marrow";
    text-align: center;
    width: 100%;
    height: auto;
    bottom: 50%;
    top: 20%;
    position: absolute;
    font-size: 230%;

}

#me{
    font-family: "Quintessential";
    font-size: 450%;
    top: 20%;
    bottom: 80%;
    text-align: center;
}

.me1{
    margin: auto;
    font-family: "Quicksand";
    font-size: 215%;
    width: 60%;
    position: relative;
    top: 20%;
    text-align: center;
}

.form{
    margin: auto;
    font-family: "Quicksand";
    font-size: 90%;
    width: 30%;
    font-weight: bold;
    position: relative;
    text-align: justify;
}

.form-block{
    margin: auto;
    background: aquamarine;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    width: 100%;
    border-radius: 5%;
}







