{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="landing page">
        <meta name="author" content="Ringgi Cahyo Dwiputra - 1706025005">

        <title>
            {% block title %}
                The story of mine.
            {% endblock title %}
        </title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/Styling.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Kosugi+Maru|PT+Sans+Narrow|Poor+Story|Quicksand|Quintessential|Rancho|Ribeye+Marrow|Roboto+Mono" rel="stylesheet">

    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light" id="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/R.png' %}" width="100" height="100"></a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
             </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
             <a class="nav-link" href="{% url 'blog' %}">Blog</a>
            </li>
{#            <li class="nav-item">#}
{#             <a class="nav-link" href="{% url 'exp' %}">Experiences</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="{% url 'about' %}">About</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="{% url 'contact' %}">Contact</a>#}
{#            </li>#}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'guest' %}">Guest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'schedule' %}">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'activity' %}">Activity</a>
            </li>
            </ul>
        </div>
        </nav>
        </header>

        <content>
            {% block content %}
                <!-- content goes here -->
            {% endblock content %}
        </content>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>