{% extends 'Base/Base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>The story of mine.</title>
</head>

{% block content %}
    <body id="bodyBlog">
    <div>
     <h2 style="text-align: center; margin-top:5%;" id="me">The Writing of Me</h2>
    </div>
    <div class="me1">
        <p style="text-align: justify; margin-top:5%;">Tuhan terasa lebih dekat dari biasanya, mungkin benar akan kiamat atau sebentar lagi hidup kita akan tamat.
        Aku hanya menelan ludah dan mulai mengingat kapan terakhir kali menyentuhkan jidat ke ujung sajadah.</p>
    </div>
    </body>
{% endblock content %}


</html>