{% extends 'Base/Base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>The story of mine.</title>
</head>
{% block content %}
    <body id="bodyContact">
    </body>
{% endblock content %}
</html>
