{% extends 'Base/Base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>The story of mine.</title>
</head>


{% block content %}
    <body id="bodyGuest">
    <div class="form">
    <form class="form-block">
      <div class="form-group">
        <label for="name-input">Name</label>
        <input type="name" class="form-control" id="name-input" aria-describedby="nameHelp"
          placeholder="Enter your name">
        <small id="nameHelp" class="form-text text-muted">We have to know each other's name:)</small>

        <label for="date-input">Date</label>
        <input type="date" class="form-control" id="date-input" aria-describedby="dateHelp"
          placeholder="Enter the date">
        <small id="dateHelp" class="form-text text-muted">Please make sure you choose the date the day you fill this form.</small>

        <label for="email-input">Email Address</label>
        <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp"
          placeholder="yourname@example.com">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email.</small>

        <label for="subject-input">Subject</label>
        <input type="subject" class="form-control" id="subject-input" aria-describedby="subjectHelp"
          placeholder="Enter the subject">
        <small id="subjectHelp" class="form-text text-muted">Type your message title.</small>

        <label for="message-input">Message</label>
        <textarea type="message" class="form-control" id="message-input" aria-describedby="messageHelp"
                  placeholder="Enter your message here"></textarea>
        <small id="messageHelp" class="form-text text-muted">Send me your sweetest message:)</small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    </body>
{%  endblock content %}


</html>
