{% extends 'Base/Base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>The story of mine.</title>
</head>

    {% block content %}
        <body id="bodyHome">
        <div class="homewords">
          <h1 class="homewords">Welcome to the
          <br class="homewords">'Perspective of Arts'
          <br class="homewords">...
          <br class="homewords">):)</h1>
        </div>
        </body>
    {% endblock content %}

</html>
