{% extends 'Base/Base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Schedule</title>
</head>
{% block content %}
    <body style="background-color: #bbccdd">
        <div class="form">
            <h1>My Schedule</h1>
            <form action={% url 'post' %} method="POST">
                {% csrf_token %}
                {{ form.as_p }}
            <input type="submit" value="Submit">
            </form>
        </div>
    </body>
{% endblock content %}
</html>