{% extends 'Base/Base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jadwal Kegiatan</title>
</head>

    {% block content %}
    {% if result %}
    <h1 style="text-align: center">Jadwal Kegiatan</h1>
    <body style="background-color: #ddffdd">
        <table class="table">
            <thead>
                <th>Tanggal, Waktu</th>
                <th>Kegiatan</th>
                <th>Lokasi</th>
                <th>Kategori</th>
            </thead>
            <tbody>
                <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
                {% for i in result %}
                {% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
                <tr class="warning"> {% else %} <tr class="success">
                    {% endif %}
                    <td> {{i.date}} </td>
                    <td> {{i.activity}} </td>
                    <td> {{i.location}} </td>
                    <td> {{i.category}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form action={% url 'delete' %}>
            {% csrf_token %}
            <button type="submit">Hapus Semua Jadwal Kegiatan</button>
        </form>
    {% else %}
        <h1 style="text-align: center">Tidak Ada Jadwal Kegiatan</h1>
        <body style="background-color: #ddffdd">
    {% endif %}
    </body>
    {% endblock %}

</html>